body
{
    text-align: center;
    
    
}

.para
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap:10px;
    background-color: hotpink;
}