.Person
{
    width: 60%;
    margin:16px auto;
    border: 1px solid #eeeeee;
    border-radius: 25px;
    box-shadow: 0px 2px 3px #cccccc;
    padding: 16px;
    background-color: rgb(240, 232, 232);
    text-align: center;
}

@media (min-width: 500px)
{
    .Person
    {
        width:450px
    }
    
}